{
	"endOfLine": "lf",
	"jsxSingleQuote": true,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"proseWrap": "always"
}
